*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
body{
    background-color:rgb(112, 85, 36);
    color:rgba(203, 236, 13, 0.808);
}

header nav{
    background-color: rgb(185, 146, 47);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
header nav h1{
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;


}
header nav form{
    display: flex;
    justify-content:center;
}
form input[type="text"]{
    flex-grow: 1;
    margin-right:10px;
}
form input[type="text"],button 
[type="submit"] {
   border: none;
   font-size: 18px;
   padding: 10px;
   border-radius: 4px;
   
}

button [type="submit"]{
    background-color:whitesmoke ;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;

}
button [type="submit"]:hover,.recipe button:hover,
.recipe-close-btn:hover{
    background-color: rgb(158, 133, 133);
    
}
/*MAIN SECTION*/
.recipe-container{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    grid-gap: 40px;
    width: 80%;
    margin: 10px auto;
    padding: 20px;
    place-items:center
}
.recipe {
    background-color: beige;
    display: flex;
    flex-direction: column;
    color:black;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(78,73,0.1 ), -5px -5px 10px rgba(34,34,34,0.5);
    cursor: pointer;
    max-width: 350px;
    transition: transform 0.3s ease-in-out;

}
.recipe:hover { 
    transform: scale(1.02);
  

}
.recipe img{
    height:300px;

}
.recipe h3{
    font-size: 24px;
    margin-block: 5px;
}
recipe p{
    font-size: 20px;
    color: dimgray;
    margin: 5px 0;
}
.recipe span{
    font-weight: 600;
    
}
.recipe button{
    font-size:20px;
    font-weight:600 ;
    padding: 10px;
    border-radius: 5px;
    border:none;
    cursor: pointer;
    margin: 18px auto;
    border-color: rgb(167, 161, 162);
    color: rgb(158, 80, 168);

}
/*Recipe Details*/
.recipe-details{
    display:none;
    position:fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%, -50%);
    background-color: darkgoldenrod;
    border-radius: 12px;
    width: 40%;
    height: 60%;
    transition: all 0.5s ease-in-out ;
    overflow-y: scroll;

}
.recipe-details-content{
    padding:30px
}
.recipeName{
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    margin-bottom:10px;
}

.ingredientList li{
    margin-top: 10px;
    margin-left: 20px;
}

.recipeInstructions p {
    line-height: 30px;
    white-space: pre-line;
}
.recipe-close-btn{
    border: none;
    font-size: 10px;
    padding:10px;
    border-radius:4px;
    background-color: chocolate;
    color:azure;
    position:absolute;
    top:20px;
    right:20px;
    width: 30px;
    height: 30px;
    display:flex;
    justify-content: center;
    align-items: center;

    
}


/*Adding Scrollbar to recipe details popup */
.recipe-details::-webkit-scrollbar{
    width: 10px;
}
.recipe-details::-webkit-scrollbar-thumb{
    background: white;
    border-radius:16px; 
    --webkit-border-radius: 16px;
}
.recipe-details::-webkit-scrollbar{
    width: 10px;
}
.recipe-details::-webkit-scrollbar-thumb{
    background: white;
    border-radius:16px; 
    --webkit-border-radius: 16px;
}

body::-webkit-scrollbar{
    width: 16px;
}
body::-webkit-scrollbar-thumb{
    background: white;
}
body::-webkit-scrollbar-track{
    background-color: grey;

}
/*responsive code*/
@media screen and(max-width:600px) {
    header nav form{
        width:80%;
        margin-top: 20px;
    }
    
}